<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="icon" href="https://fav.farm/💩" />
	<title>Andrew S Erwin | <?= $this->title ?? 'welcome' ?></title>
</head>

<body>
	<header>
		<nav>
			<a href="/" class="">home</a>
			<a href="/about" class="">about</a>
			<a href="/contact" class="">contact</a>
			<a href="/user" class="">users</a>
			<a href="/blog" class="">blog</a>
		</nav>
	</header>
	<main>
		{{ content }}
	</main>
	<footer>
		&copy; 2023 | Andrew S Erwin
	</footer>
	<script src="/js/app.js"></script>
</body>

</html>
